.intro{
    padding:0;
    background-image: url("../images/landing.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 850px;
    width: 100%;
    background-position: center center;
    margin-top: 70px;
    background-attachment: fixed;
}
p{
    font-family: sans-serif;
    margin-top: 6%;
    color: white;
    text-align: center;
    font-size: 60px;  
}
.logo{
    text-align: center;
    margin-top:5%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: unset;
    box-sizing: content-box;
}
.pic2{
    height: 200px;
    width: 200px;
    margin-left: 11%;
    margin-right: 11%;
    margin-bottom: 10%;
    padding-right: 0;
    margin-top: 4%;
    box-shadow: 0 0 4px 4px #ccc;
    position: relative;
}
.fast{
    float: left;
    text-align: left ;
    text-overflow: inherit;
}
.img{
    display:flex ;
    margin: auto;
    justify-content: center;
    align-items: center;
}
h2{
    color: white;
}
#happyhour{
    background-color: red;
    padding: 30px;
}
#partytime{
    background-color: grey;
    padding: 20px;
    padding-bottom: 30px;
}
#breakfast{
    text-align: center;
    padding-bottom: 80px;
    padding-top: 80px;
}
#lunch{
    text-align: center;
    padding-bottom: 80px;
    padding-top: 80px;
}
#dinner{
    text-align: center;
    padding-bottom: 80px;
    padding-top: 80px;
}
.pic3{
    text-align: left;
     position: relative;
     box-shadow: 4px #ccc;
     border: 0rem;
     box-sizing:content-box
}
#font{
    font-size: 90%;
}#bar{
    background-image: url("../images/foodsBg.jpg");
}
h4{
    color: #F15a29;
}
h5{
    align-self: center;
    color: white;
}
#lastpage{
    background-color: #ef6e19;
}
.row2{
    text-align: left;
    text-overflow: ellipsis;
}
#font{
    text-indent: 5px;
    text-align: left;
    text-align-last: center;
    float: justify;
    
}