.intro{
    padding:0;
    background-image: url("../images//landing.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 850px;
    width: 100%;
    background-position: center center;
    margin-top: 70px;
    background-attachment: fixed;
}
p{
    font-family: sans-serif;
    margin-top: 6%;
    color: white;
    text-align: center;
    font-size: 60px;  
}
.logo{
    text-align: center;
    margin-top:5%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: unset;
    box-sizing: content-box;
}
